@import url('https://fonts.googleapis.com/css2?family=DM_Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  font-family: 'DM_Sans', sans-serif;
  font-size: 1.6rem;
}

img {
  max-width: 100%;
}

.div__section {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas: "supra supra" " header header" "container container" "footer footer";
  grid-template-columns: 1fr 4fr;
  overflow: hidden;
}

/***Supra-header-header***/

.div__supra-header {
  grid-area: supra;
  background-color: red;
}

.supra-header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

/***header-header***/

.div__header {
  grid-area: header;
  background-color: blue;
  position: sticky;
  width: 100%;
  top: -1px;
  z-index: 999;
}

.header__left {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-height: 15rem;
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 5rem;
  padding-right: 7rem;
  width: 100%;
  height: 15rem;
}

.header__menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.icon-menu-cart {
  position: absolute;
  top: -5px;
  right: 10px;
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.header__burguer {
  position: relative;
  z-index: 9999;
}

.header__nav {
  display: flex;
  position: relative;
}

.menu__icon {
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.menu__icon--close:hover {
  transform: scale(1.1);
}

.menu__icon--open:hover {
  transform: rotate(90deg);
}

.menu__container {
  position: absolute;
  left: 0px;
  top: -10px;
  z-index: 10;
}


.search__div {
  transform: translate(0px, 0px);
  transition: all 1000ms ease-in-out;
}

.menu__options {
  position: absolute;
  top: 7.5rem;
  left: -50px;
  width: 30rem;
  background-color: #f0f0f0;
  transition: all 300ms ease-in-out;
}

.menu__options--open {
  transform: translateX(0);
}

.menu__options--close {
  transform: translateX(-200%);
}

.menu__option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.menu__option:hover {
  background-color: #ddd;
  transform: scale(1.1);
}

.header__logo {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 3rem;
  padding: 3rem;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.header__logo-img {
  width: 100%;
  height: 12rem;
  filter: drop-shadow(2px 5px 1px #000000);
}

.header__logo-img-img {
  width: 100%;
  height: 100%;
}

.header__logo-img--2 {
  height: 5rem;

}

.hearder__menu-list {
  margin-left: 2rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.header__logo:hover {
  transform: scale(1.1);
}



/*
.hearder__menu-list:hover{
  transform: scale(1.1);
}*/

.search__wrapper {
  display: flex;
  align-items: center;
}

.search__input {
  position: absolute;
  z-index: 10;
  right: 180px;
  transition: all 300ms ease-in-out;
  overflow: hidden;
}

.search--open {
  transform: translate(0px, -300px);
}

/***footer-footer***/
.div__footer {
  grid-area: footer;
  background-color: yellow;
}

/***container-container***/
.div__container {
  grid-area: container;
  background-color: orange;
  min-height: 100vh;

}

.container__content {
  border-bottom: 1px solid #ddd;
}

/***Slider***/
.slider__container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 4rem;
}

.input__control {
  border-radius: 15px;
  padding: 2rem;
}

.slider-container {
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  margin: 4rem 0;
  padding: 5rem;
}

.slider-track {
  display: flex;
}

.slider-item {
  flex-shrink: 0;
  width: 300px;
  height: 200px;
  margin-right: 10px;
  transition: opacity 0.3s ease-in-out;
  margin: 0 1rem;
  filter: drop-shadow(3px 3px 3px #000000);
  cursor: pointer;
}

.slider-item:hover {
  opacity: 1;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.slider-item.inactive {
  opacity: 1;
}

.slider-item.active {
  opacity: 0.5;
  transform: scale(1.1);
}

/***recomendados-recomendados***/
.recomendados__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding: 2rem;
}

.recomendados__image-img {
  border-radius: 15px;
  width: 100%;
  height: 100%;

}

.recomendados__image--paused {
  opacity: 0.5;
  transition: all 0.7s ease-in;
}

/***Descuentos***/
.games__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
  padding: 2rem;
  gap: 2rem;
  
}


.games__title {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2rem;
}

.games__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  padding: 2rem;
  height: 100vh;
}

.games__item {
  width: 25%;
  margin: 1rem;
  flex-shrink: 0;
  cursor: pointer;
}

.games__list-destacado {
  height: 350px;
}

.games__item-destacado {
  width: 25%;
  margin: 1rem;
  flex-shrink: 0;
  filter: drop-shadow(3px 3px 3px #000000);
  cursor: pointer;
}

.games__item-destacado img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

.games__list-destacado-descuentos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 5rem;
  margin: 1rem;
}

.games__item:hover {
  opacity: 1;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.games__item img {
  border-radius: 15px;
}

.games__item-acciones {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/***Descuento y recomendaciones***/

.games__container {
  display: flex;
  flex-direction: row;
  /*margin: 2rem;*/
  padding: 2rem;
  align-items: start;
}

.div__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.div__img-list {
  height: 45rem;
  width: 37rem;
  border-radius: 15px;
  margin: 2rem;
  border-radius: 1.5rem;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.div__img-list:hover {
  transform: scale(1.1);
}

.games__item-img {
  max-width: 100%;
  height: 100%;
  border-radius: 20px;
}


.descuento__title {
  font-size: 1.2rem;
  font-weight: bold;
}

.list__list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  padding: 2rem;
  gap: 5rem;
}

/******filter*******/

.nav__filter{
  width: 15%;
}

.nav__filter-list {
  padding: 2rem;
  margin-right: 6rem;
}

.nav__filter-item-text {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  font-weight: 500;
  font-size: 1.8rem;
  margin-left: 5px;
  width: 150px;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  /* Flecha hacia abajo por defecto */
  margin-left: 5px;
}

.arrow.up {
  border-top: none;
  border-bottom: 5px solid black;

}

.arrow .down {
  margin-left: 5px;
}

.nav__filter-item-nav {
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px 10px;
  width: 150px;
  margin-left: 0.5rem;
}

.nav__filter-item-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__filter-item-opc-item {
  padding: 5px 0;
  cursor: pointer;
}

.nav__filter-label {
  margin-left: 1rem;
}

.nav__filter-item-list-precio {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nav__filter-descuento {
  display: block;
}

.nav__filter-item-opc-item-descuentos {
  display: flex;
}

/*******admin*******/

.cards__admins {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 6rem 4rem;
}

/* From Uiverse.io by gharsh11032000 */
.card {
  position: relative;
  width: 400px;
  height: 300px;
  margin: 3rem 2rem;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;

}

.card svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

.card__admin-header {
  height: 100%;
}

.card__admin-header-img {
  height: 100%;
}

.card__admin-header-descrip {
  position: relative;
}

.card__admin-header-descrip-title {
  position: absolute;
  top: -70px;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  padding: 0 2rem;
}

.card__admin-header-title {
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 1.5rem;
}




/***Category***/

.category__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem;

}

.card__category {
  position: relative;
  width: 25%;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem;
  border-radius: 10px;
  overflow: hidden;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.card__category img {
  width: 100%;
  fill: #333;
  transition: all 300ms ease-in-out;
}

.card__category:hover {
  transform: rotate(-5deg) scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card__category-body {
  position: absolute;
  top: 70%;
  left: 5%;
  width: 90%;
  height: 7rem;
  box-sizing: border-box;
  transition: all 300ms ease-in-out;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  z-index: 100;
  text-align: center;
  word-spacing: 0.1rem;
}

.card__category-img {
  height: 300px;
  width: 100%;
}

.card__category-grandient {
  width: 100%;
  height: 100%;
}

.card__category-img-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-radial-opacity {
  width: 300px;
  height: 200px;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.image-radial-opacity::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle, transparent 60%, rgba(0, 0, 0, 0.5) 100%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.image-radial-opacity:hover::before {
  opacity: 1;
}

/****Crear Categoría****/

.category__form {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.category__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-top: 10rem;
}


.category__dropzone {
  width: 100%;
  margin-top: 5rem;
}

.slider__section{
  width: 100%;
}


/*** Inputs ***/

.category__input {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.category__input-field {
  border: 2px solid white;
  background-color: transparent;
  border-radius: 10px;
  padding: 12px 15px;
  color: black;
  font-weight: 500;
  outline: none;
  caret-color: rgb(155, 78, 255);
  transition: all 300ms ease-in-out;
  margin-top: 0.7rem;
}

.icon-svg {
  position: absolute;
  fill: rgb(155, 78, 255);
  width: 12px;
  top: -25px;
  left: -15px;
  opacity: 0;
  transition: .2s linear;
}

.category__label {
  position: absolute;
  top: -25px;
  left: 5px;
  color: white;
  font-size: 17px;
  font-weight: 400;
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  overflow: hidden;
  transition: .2s linear;
  opacity: 0;
}

.category__input-field:focus~.category__label,
.category__input-field:valid~.category__label {
  transform: translateX(20px);
  opacity: 1;
}

.category__input-field:focus~.icon-svg,
.category__input-field:valid~.icon-svg {
  transform: translateX(20px);
  opacity: 1;
}

.category__input-field:focus,
.category__input-field:valid {
  background-color: #ddd;
  transition-duration: .3s;
}

.created__category {
  width: 100%;
}

.category__button {
  margin: 5rem 0;
}

.game__button{
  display: flex;
  gap: 3rem;
}

/***button***/
.button {
  all: unset;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.6em 2em;
  border: #0047fa solid 0.3rem;
  border-radius: 0.25em;
  color: white;
  font-size: 1.5em;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  transition: border 300ms, color 300ms;
  user-select: none;
}

.button p {
  z-index: 1;
}

.button:hover {
  color: white;
}

.button:active {
  border-color: #0047fa;
}

.button::after,
.button::before {
  content: "";
  position: absolute;
  width: 9em;
  aspect-ratio: 1;
  background: #0047fa;
  opacity: 50%;
  border-radius: 50%;
  transition: transform 500ms, background 300ms;
}

.button::before {
  left: 0;
  transform: translateX(-8em);
}

.button::after {
  right: 0;
  transform: translateX(8em);
}

.button:hover:before {
  transform: translateX(-1em);
}

.button:hover:after {
  transform: translateX(1em);
}

.button:active:before,
.button:active:after {
  background: teal;
}

/***dropzone***/
.dropzone {
  all: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
  border: 2px dashed #0047fa;
  border-radius: 0.25em;
  color: #0047fa;
  font-size: 1.5em;
  font-weight: 600;
  cursor: pointer;
  transition: border 300ms, color 300ms;
  user-select: none;
}

.dropzone-feedback {
  margin-top: 1em;
  font-size: 1.25em;
  color: #0047fa;
  text-align: center;
}

.dropzone-focused {
  border-color: teal;
  color: teal;
}

.dropzone-accept {
  border-color: teal;
  color: teal;
}

.dropzone-reject {
  border-color: red;
  color: red;
}

.game__dropzone {
  width: 100%;
}

/****Retutn***/

.category__return {
  position: absolute;
  top: 30%;
  left: 7rem;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.category__return svg {
  width: 100%;
  height: 100%;
}

/****Games****/

.games__game {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.game__section {
  margin-top: 6rem;
}



.game__games-content-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.category__game {
  margin-bottom: 2rem;
}

.game__input {
  margin-bottom: 4rem;
}

.games__lists {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.list__games {}

.game__games-content {
  padding: 3rem;
}

.category__form-crear {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.category__section-crear {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

.game__games-content-left {
  width: 100%;

}

.game__games-content-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  margin-top: 2rem;
}

.game__input-crear {
  width: 100%;
}

.game__games-dist {
  width: 55%;
}

.game__games-dist2 {
  width: 20%;
}

.game__games-dist3 {
  width: 20%;
}

.game__games-dist4 {
  width: 10%;
}

.game__games-dist5 {
  width: 80%;
}

.game__games-preview {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.games__games-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;

}

/******card******/

.games__games {
  margin-top: 5rem;
  display: flex;
}

.game__card-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30rem;

  cursor: pointer;
}


.game__card {
  width: 100%;
  height: 38rem;
  z-index: 1;
}

.game__card-img {
  width: 100%;
  height: 100%;
  filter: drop-shadow(3px 3px 3px #000000);
}

.game__card-img-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.game__card-price {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
}

.game__card-descuento {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-left: 1rem;
  margin-right: 1rem;
  text-decoration: line-through;
}

.game__card-body-content {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}

.game__view-plataforma{
  margin-left: 2rem;
}

.game__card-description {
  padding-left: 1rem;
}

.game__card-description-plataform {
  font-size: 1.2rem;
  font-weight: 600;
  color: #575454;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #ccc;
  background-color: #161616;
  text-transform: uppercase;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}


/******game view*****/

.detalle-games__view {
  width: 100%;
  margin: 0 auto;
}

.game__view-section {
  position: relative;
}

.game__view {
  position: relative;
  width: 100%;
  height: 920px;
  box-shadow: -11px 15px 32px #000000;
}

.game__view--left {
  height: 900px;
  margin-left: 10%;
}

.game__view-img {
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in-out;
  cursor: pointer;

}

.game__view-img-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  filter: drop-shadow(-20px 5px 40px #000000);
}

.game__view-img-linear {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(80deg, #1F1F1F 18%, rgba(10, 10, 10, 0.3) 40%);
  pointer-events: none;
  z-index: 9;
}

.game__view--linear{
  position: relative;
  width: 900px;
}


.game__view-img-linear-2 {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(7deg, rgba(31, 31, 31, 0.98) 22%, rgba(135, 133, 150, 0) 40%);
  pointer-events: none;
}

.game__view-img-linear-3 {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-20deg, rgba(31, 31, 31, 0.98) 22%, rgba(135, 133, 150, 0) 40%);
  pointer-events: none;
}

/*
.game__view-img:hover {
  transform: translateZ(10px) rotateX(10deg) rotateY(10deg) scale(1.1);
}*/

.game__view-title {
  font-size: 3rem;
  font-weight: 600;
}

.game__view-right-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.game__view-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  padding: 4rem;
  z-index: 100;
}

.game__view-category-container {
  margin-top: 2rem;
  width: 100%;
}

.game__view-plataforma-container{
  margin-top: 2rem;
  margin-right: 2rem;
}

.game__view-body {
  display: flex;
  flex-direction: column;
  color : #fff;
  width: 80%;
  margin-top: 2rem;
  gap: 2rem;
}

.game__view-price {
  font-size: 2rem;
  font-weight: bold;
  text-align: start
}

.game__view-category {
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  padding: 1rem;
  border-radius: 5px;
  color: #575454;
  transition: all 300ms ease-in-out;
  width: 20%;
  text-align: center;
  cursor: pointer;
}

.game__view-category:hover {
  color: #000;
  transform: translate3d(0, -5px, 0) scale(1.1);
}


.game__view-body-description {
  width: 70%;
  color : #fff;
  margin-top: 2rem;
}

.game__view-description {
  font-size: 1.8rem;
  line-height: 1.5;
}

/******Slider*******/

.slider__container-slider {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  overflow-x: auto;
  align-items: center;
  width: 100%;
}

.slider__content {
  display: flex;
  flex-direction: row;
  margin: 2rem 2rem 3rem 3rem;
  width: 100%;
}

.slider__bg {
  height: 400px;
  width: 100%;
  padding: 1rem;
  background-color: lightgray;
  border-radius: 10px;
  padding-bottom: 3rem;
  overflow-x: auto;
  overflow-y: hidden;

}

.slider__dnd {
  overflow: hidden;
  cursor: grab;
  margin: 1rem;

}

.preview__dnd-img {}

.game__card-img-img {
  width: 100%;
}


.slider__dnd-img {
  width: 100%;
  height: 200px;
  object-fit: fill;
}


.preview__dnd {}

.preview__dnd-delete {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  transition: all 300ms ease-in-out;
  animation-name: moveLeftRigth;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  z-index: 9999999;
}

@keyframes moveLeftRigth {
  0% {
    transform: translateX(0px);
  }

  30% {
    transform: translateY(-5px);
  }

  50% {
    transform: translateY(-8px);
  }

  70% {
    transform: translateY(-7px);
  }

  80% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateX(0px);
  }
}

.icon-trash {
  width: 30px;
  height: 30px;
  transition: all 300ms ease-in-out;
}


.preview__dnd-delete:hover .icon-trash {
  transform: scale(1.3);
  font-size: 2rem;
  color: red;
  animation-name: none;
}


/****reviews****/

.reviews__container {
  margin-right: 4rem;
  margin-left: 8rem;
  padding: 2rem;
  margin-top: 5rem;
}

.reviews__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}


.reviews__info-img {

  max-width: 10rem;
  height: 10rem;

}

.reviews__cards {
  padding: 0px 2rem;
  margin-top: 5rem;
}

.reviews__cards::after {
  content: '';
  display: block;
  border-bottom: 1px solid #ccc;
  width: 95%;
  margin: 0 auto;
}

.reviews__card-header {
  margin-bottom: 2rem;
  padding: 2rem;
}

.reviews__info-img-img {
  border: 1px solid #ccc;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.rating__star {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}

.rating__container{
  display: flex;
  gap: 2rem;
}

.star {
  font-size: 2rem;
  cursor: pointer;
  color: #ccc;
  /* Color por defecto */
  transition: color 0.3s ease;
}

.star.active {
  color: #f5c518;
  /* Estrellas activas (amarillas) */
}


.reviews__info-comment-rating {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.review__comment {
  padding: 1rem 1rem;
}

.review__comment p {
  font-size: 1.5rem;
  line-height: 1.5;
}

.reviews__comment-content {
  height: 160px;
}


.chat-container {
  margin: 2rem auto;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.input-area {
  display: flex;
  margin-top: 15px;
}

.input-area textarea {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  outline: none;
  min-height: 40px;
}

.input-area-text {
  overflow-y: auto;
  max-height: 100px;
  resize: none;
}

.reviews__comment-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.reviews__comment-button span svg {
  font-size: 1.5rem;
  color: grey;
  transition: all 300ms ease-in-out;
}

.reviews__comment-button span svg:hover {
  cursor: pointer;
  transform: scale(1.2);
  color: blue;
}

.rating__star--coment {
  margin-bottom: 2rem;
}

/***Shopping***/

.shopping__container {
  display: flex;
  flex-direction: row;
  z-index: 999;

}

.shopping__detail {

}

.shopping__over {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
}

.shopping__list {
  position: absolute;
  top: 0;
  width: 47rem;
  height: 100vh;
  background-color: #f3f3f3;
  transition: all 300ms ease-in-out;
  right: 0;
  opacity: 0.9;
  z-index: 999;
  overflow: auto;
}

.shopping__list-header,
.shopping__cart-totales {
  display: flex;
  justify-content: space-between;
  padding: 3rem 4rem;
}

.shopping__cart-totales {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem 4rem;
}

.shopping__cart-totales-subtotal {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.shopping__cart-method-pay {
  margin-top: 3rem;
  margin-bottom: 6rem;
  padding: 0 1rem;
}

.shopping__cart {
  display: flex;
}

.shopping__list-header-text-title {
  font-size: 2.5rem;
  font-weight: 600;
}

.shopping__list-header-text-close {
  font-size: 3rem;
}

.shopping__cart-img {
  width: 100%;
  height: 40px;
}

.shopping__cart-method-pay-select {
  margin-top: 2rem;
}

.shopping__cart-method-pay-selected-item {
  display: flex;
  flex-direction: column;
}


.radio-inputs {
  position: relative;
  display: flex;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-color: #70c489;
  font-size: 14px;
  width: 100%;
  padding: 0.5rem 1.5rem 0 1.5rem;
  justify-content: space-between;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: none;
  transition: all 0.15s ease-in-out;
  position: relative;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.radio-inputs .radio input+.name:hover {
  color: #fff;
}

.radio-inputs .radio input+.name .pre-name,
.radio-inputs .radio input+.name .pos-name {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #70c489;
  bottom: 0;
  opacity: 0;
}

.radio-inputs .radio input+.name .pre-name {
  right: -10px;
  border-bottom-left-radius: 300px;
  box-shadow: -3px 3px 0px 3px #e8e8e8;
}

.radio-inputs .radio input+.name .pos-name {
  left: -10px;
  border-bottom-right-radius: 300px;
  box-shadow: 3px 3px 0px 3px #e8e8e8;
}

.radio-inputs .radio input:checked+.name {
  animation: name-activated;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}

@keyframes name-activated {
  from {
    background-color: #70c489;
    font-weight: 400;
    cursor: pointer;
    color: white;
  }

  to {
    background-color: #e8e8e8;
    font-weight: 600;
    cursor: default;
    color: black;
  }
}

.radio-inputs .radio input:checked+.name .pre-name,
.radio-inputs .radio input:checked+.name .pos-name {
  animation: name-border-activated;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
  z-index: 0;
}

@keyframes name-border-activated {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.radio-inputs .radio .name span:last-child {
  z-index: 1;
  padding: 0.5rem 0.8rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.radio-inputs .radio input:checked+.name span:last-child {
  animation: name-text-activated;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}

@keyframes name-text-activated {
  from {
    background-color: #70c489;
  }

  to {
    background-color: #e8e8e8;
  }
}

.radio-inputs>.radio>.content {
  display: none;
}

.radio-inputs>label.radio>input:checked~div.content {
  display: block;
}

.radio-inputs>label.radio>input:checked~div.content div * {
  animation: content-activated;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.content {
  background-color: #70c489;
  position: absolute;
  left: 0px;
  right: 0px;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.content>div {
  background-color: #e8e8e8;
  border-radius: 0.5rem;
  padding: 1rem;
  padding-bottom: 1.2rem;
  border: 4px solid #70c489;
  border-top-width: 0px;
}

@keyframes content-activated {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.shopping__cart-games {
  padding: 1rem;
  margin-bottom: 8rem;
}

.shopping__cart-games-item {
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
  height: 150px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  justify-content: space-between;
  background-color: #fcfcfc;
  
}

.shopping__cart-games-item-img {
  max-width: 120px;
  max-height: 120px;
  border-radius: 10px;
  display: flex;
  padding: 1rem;
}

.shopping__cart-games-img {
  width: 100%;
  height: 100%;
}

.shopping__cart-games-item-name {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.shopping__cart-games-item-name-title {
  margin: 1rem 1rem;
  text-transform: uppercase;
}

.shopping__cart-games-item-name-price,
.shopping__cart-plataform {
  margin-left: 1rem;
}

.shopping__cart-games-item-delete {
  padding-top: 5rem;
}

.shopping__cart-plataform-p {
  width: 80px;
  height: 45px;
}

.shopping__cart-pay {
  position: fixed;
  bottom: 0;
  width: 26%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  border-top: 1px solid #ccc;
  background-color: #fcfcfc;
  box-shadow: 0 0 4px -1px;
}

.shopping__cart-totales-subtotal-price,
.shopping__cart-method-pay-title{
  font-weight: 600;
}

.shopping__cart-method-pay-title{
  margin-left: 1.5rem;
}

.shopping__cart-pay-title {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #0068bd;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 1rem 12rem;
  transition: all 300ms ease-in-out;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.shopping__cart-pay-title:hover {
  background-color: #0047fa;
}

.shopping__cart-pay--auth{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  overflow: hidden;
}

/**fade up**/

.fade-in-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  will-change: opacity, transform;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.games__item-image {
  max-width: 100%;
  height: auto;
  display: block;
}

/***Skeleton***/

.my-custom-skeleton-card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
  padding: 2rem;
  gap: 2rem;
}

.react-loading-skeleton {
  padding-left: 1rem;
}

.my-custom-skeleton-card-container .react-loading-skeleton__line {
  margin-bottom: 8px;
  width: 90%;
}

.my-custom-skeleton-card-container .react-loading-skeleton__line:first-child {
  height: 180px;
}

.my-custom-skeleton-card-flex{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
  padding: 2rem;
  gap: 2rem;
}

.my-custom-skeleton-card-flex .react-loading-skeleton__line {
  margin-bottom: 8px;
  width: 100%;
}

.my-custom-skeleton-card-flex .react-loading-skeleton__line:first-child {
  height: 180px;
}


/***Paginacion***/

.paginacion-games {

  display: inline-block;

}

.paginacion-content {

  display: flex;
  list-style: none;
  gap: 10px;
  justify-content: center;
  padding: 0.8rem;
  cursor: pointer;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  transition: all 300ms ease-in-out;
}

.pagina-activa {
  border-radius: 0.5rem;
  background-color: #4070F4;
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.pagina-activa a {
  color: white;
}

/***input-games***/
.input-has-icon {
  border: 1px solid #ccc;
  width: 100%;
  background-color: transparent;
  border-radius: 10px;
  padding: 12px 15px;
  color: black;
  font-weight: 500;
  outline: none;
  caret-color: rgb(155, 78, 255);
  transition: all 300ms ease-in-out;
}

/***Descuentos***/
.descuentos__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.descuentos__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.descuentos__item-container {
  width: 30%;
  height: 250px;
}

.descuentos__container {
  margin-top: 4rem;
}

.section__descuento {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.descuentos__item {
  display: flex;
  flex-direction: row;
  align-items: top;
  gap: 2rem;
  margin-bottom: 3rem;
  border: 1px solid #ccc;
  padding: 2rem;
  width: 100%;
}

.descuentos__item-img {
  width: 150px;
  height: 175px;
}

.descuentos__item-img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.descuentos__item-desc {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-has-icon-desc {
  width: 20%;
}

.descuentos__item-title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.destacado_checkbox {
  margin: 0 1rem;
  padding-top: 1px;
}

.descuentos__item-title-text {
  text-transform: capitalize;
}

.remarcar_text {
  font-weight: 600;
}

.destacado_checkbox {
  margin-top: 1rem;
}

.games__paginacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding: 2rem;
  gap: 5rem;
}

/***button***/

.button__slider-left {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.button__slider-right {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.button__slider-right svg {
  transform: rotate(-90deg);
}

.button__rocket {
  font-family: inherit;
  font-size: 18px;
  background: linear-gradient(to bottom, #4dc7d9 0%, #66a6ff 100%);
  color: white;
  padding: 0.8em 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 300ms ease-in-out;
}

.button__rocket:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.button__rocket span {
  display: block;
  margin-left: 0.4em;
  transition: all 0.3s;
}

.button__rocket svg {
  width: 18px;
  height: 18px;
  fill: white;
  transition: all 0.3s;
}

.button__rocket .svg-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 0.5em;
  transition: all 0.3s;
}

.button__rocket:hover .svg-wrapper {
  background-color: rgba(255, 255, 255, 0.5);
}

.button__slider-right:hover svg {
  transform: rotate(-140deg) !important;
}

.button__rocket:hover svg {
  transform: rotate(45deg);
}

/***iconos***/

.custom-icon {
 color: #676363;
 transition: all 0.3s;
 cursor: pointer;
}

.custom-icon:hover {
  color: #000;
  transform: scale(1.1);
}

.input-wrapper-search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: relative;
}

.input {
  border-style: none;
  height: 50px;
  width: 50px;
  padding: 10px;
  outline: none;
  border-radius: 50%;
  transition: .5s ease-in-out;
  background-color: #7e4fd4;
  box-shadow: 0px 0px 3px #f3f3f3;
  padding-right: 40px;
  color: #fff;
}

.input::placeholder,
.input {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 17px;
}

.input::placeholder {
  color: #8f8f8f;
}

.icon__search {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  outline: none;
  border-style: none;
  border-radius: 50%;
  pointer-events: painted;
  background-color: transparent;
  transition: .2s linear;
}

.icon__search:focus ~ .input,
.input:focus {
  box-shadow: none;
  width: 250px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 3px solid #7e4fd4;
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

/***loading***/

.loader__container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  width: 32px;
  height: 90px;
  display: block;
  margin: 20px auto;
  position: relative;
  border-radius: 50% 50% 0 0;
  border-bottom: 10px solid #FF3D00;
  background-color: #FFF;
  background-image: radial-gradient(ellipse at center, #FFF 34%, #FF3D00 35%, #FF3D00 54%, #FFF 55%), linear-gradient(#FF3D00 10px, transparent 0);
  background-size: 28px 28px;
  background-position: center 20px , center 2px;
  background-repeat: no-repeat;
  box-sizing: border-box;
  animation: animloaderBack 1s linear infinite alternate;
}
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 64px;
  height: 44px;
  border-radius: 50%;
  box-shadow: 0px 15px #FF3D00 inset;
  top: 67px;
}
.loader::after {
  content: '';  
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 34px;
  height: 34px;
  top: 112%;
  background: radial-gradient(ellipse at center, #ffdf00 8%, rgba(249, 62, 0, 0.6) 24%, rgba(0, 0, 0, 0) 100%);
  border-radius: 50% 50% 0;
  background-repeat: no-repeat;
  background-position: -44px -44px;
  background-size: 100px 100px;
  box-shadow: 4px 4px 12px 0px rgba(255, 61, 0, 0.5);
  box-sizing: border-box;
  animation: animloader 1s linear infinite alternate;
}

@keyframes animloaderBack {
  0%, 30%, 70% {
    transform: translateY(0px);
  }
  20%, 40%, 100% {
    transform: translateY(-5px);
  }
}

@keyframes animloader {
  0% {
    box-shadow: 4px 4px 12px 2px rgba(255, 61, 0, 0.75);
    width: 34px;
    height: 34px;
    background-position: -44px -44px;
    background-size: 100px 100px;
  }
  100% {
    box-shadow: 2px 2px 8px 0px rgba(255, 61, 0, 0.5);
    width: 30px;
    height: 28px;
    background-position: -36px -36px;
    background-size: 80px 80px;
  }
}


/***Auth***/

.Auth__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'DM_Sans', sans-serif;
  font-size: 1.6rem;
}

.auth__header{
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  background-color: #fff;
  text-align: center;
  color: black;
}

.auth__title{
  margin-bottom: 2rem;
}

.auth__auth_bottom{
  margin-top: 20px;
  margin-bottom: 20px;
}

.auth__buttom{
  padding: '10px 20px';
  background-color: '#dc3545';
  color: 'white';
  border: 'none';
  border-radius: '5px';
  cursor: 'pointer';
  font-size: '16px';
  margin-top: '20px';
}

.auth__auth-auth{
  color: blue;
  margin-top: 15px;
}

.auth__auth-error{
  color: red;
  margin-top: 15px;
}

.auth__auth-loading{
  color: gray;
  margin-top: 15px;
}

.auth__close{
  padding: 10px 20px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

/***Login***/

.div__login {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

}

.login__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'DM_Sans', sans-serif;
  font-size: 1.6rem;
}

.login__header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.login__logout {
  position: absolute;
  top: 30px;
  left: -10px;
  padding: 10px 20px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.login__login{
  position: absolute;
  top: 40px;
  width: 100px;
}

.login__logout:hover {
  transform: scale(1.1);
}

.login__img{
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.login__img-img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/***historial***/

.historial__header{
  display: flex;
  flex-direction: row;
  
  justify-content: center;
  margin-bottom: 4rem;
}

.historial__container{
  padding: 4rem 6rem;
}

.historial__content{	
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 6rem;
}

.historial__card-header{
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.historial__card{
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  border-top: 1px solid #ddd;
  padding: 2rem 0;
  gap: 3rem;
}

.historial__card-body-img-img{
  width: 200px;
  height: 150px;
  border-radius: 10px;
}

.historial__card-body-title{
  display: flex;
  gap: 1rem;
}

.historial_title{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2rem;
}

.historial__card-body-text, .historial__card-body-descuento{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.historial-title{
  font-weight: normal;
}